/*Hide results and sound-test divs on start*/
#sound-test {
  display: none;
}

#results {
  display: none;
}

.button-validation {
  display: none;
}

/*Custom Font size for main letter*/
.letter {
  font-size: 150px;
}

/*Hide the default radio input button*/
.custom-radio input {
  display: none;
}

/*The bounding box that the button is within*/
.radio-btn {
  width: 130px;
  height: 130px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

/*The circular button which is hidden (opacity:  0)
And is quite large (50px), the transform makes it visible while it shrinks
to normal size upon a click*/
.radio-circle {
  color: #ffffff;
  background-color: #0073cf;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

/*Style the icons within the buttons*/
.hobbies-icon {
  color: #0073cf;
  line-height: 80px;
  font-size: 60px;
}

/*Style the text within the buttons*/
/*This could probably be transferred out to bootstrap*/
.hobbies-icon h3 {
  color: #0073cf;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/*When the custom-radio inputs are checked, make the opacity 1 and shrink to 1*/
.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
